.loginh1{
  text-align: center;
  }
  .loginpage{
    margin: 0 auto;
    /* border: 1px solid brown; */
    width: fit-content;
    padding:40px;
    box-shadow: 0 0  12px rgb(58, 110, 112);
  
  }
  .input-box{
    padding: 10px;
    /* label{
    font-size: larger;
    } */
    input{
      height:2rem;
      width:200px;
      margin-top:5px;
    }
    input:focus{
      transition: ease-in .5s;
      outline: none !important;
      border:.5px  solid  #353333;
      box-shadow: 0 0 7px #55d466;
      height:2rem;
  
    }
  
  }
  /* .loginpage{
    width: 30%;
    margin:10px ;
  padding: 6px;
  /* background-color: chartreuse; */
  
  .button1{
    transition: ease-in .5s;
    background-color: chartreuse;
  
  }
  .button1:hover{
    background-color: rgb(118, 161, 52);
    transition: ease-in .5s;
    /* border: 1px solid black; */
  }
  
  
  